.container-home{
    background-color: #ddd;
}


.fixed{
    position: fixed !important;
    z-index: 100;
}

.home-newsfeed{
    position: relative;
    left: 30%;
    top: 55px;
}

.home-menu{

}

.home-sidebar{
    top:55px;
}