.container-home{
    background-color: #ddd;
}

.text-area{
    border: none;
}

.fixed{
    position: fixed !important;
    z-index: 100;
}

.home-news{
    left: 25%;
    top: 55px;
}

.home-menu{

}

.home-sidebar{
    top:55px;

}

.home-group{
    top: 55px;
    left: 75%;
}